// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

$rosa: #e21982;
$azul-oscuro: #22193f;
$gris: #e8e8e8;

* {
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3 {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.navbar {
    a {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
    }
    button{
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        font-size: 16px;
    }
}

.hero {
    height: calc(100vh - 60px);
    background: url(images/banner-principal.jpg) no-repeat center center;
    background-size: cover;
    button {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        font-size: 16px;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 22px;
        width: 500px;
    }
    @media (max-width: 576px) {
        p {
            width: auto;
        }
    }
}

.btn-rosa {
    color: white;
    background-color: #e21982;
}
h2 {
    color: $azul-oscuro;
    font-size: 28px;
}

.conocenos {
    background: $gris;
    p {
        width: 50%;
    }
    p,
    h2 {
        color: $azul-oscuro;
    }
    button,
    a {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
    }
    .titulo-chico {
        color: $rosa;
    }
}
@media (max-width: 576px) {
    .conocenos p {
        width: auto;
    }
}

.funcionamiento {
    .tarjeta {
        width: 300px;
    }
}

.sumate {
    background: $rosa;
    color: white;
    button{
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        font-size: 16px;
    }
    h3{
        font-size: 23px;
    }
}

.preguntas {
    background: $gris;
    h2 {
        color: $azul-oscuro;
    }
    h3 {
        color: $rosa;
    }
}

.second-banner {
    background: url(images/banner-secundario.jpg) no-repeat center center;
    background-size: cover;
    height: 45vh;
    h2 {
        color: white;
    }
    .btn {
        background-color: $rosa;
        color: white;
        width: fit-content;
    }
    button{
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        font-size: 16px;
    }
}

footer {
    background-color: $azul-oscuro;
    color: white;
    height: 20vh;

    svg {
        color: white;
        transition: all 200ms;
        &:hover {
            color: #e8e8e8;
            transform: scale(1.2);
        }
    }
    a {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
    }
}

.titulo-chico {
    color: $rosa;
    font-size: 12px;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
}

p {
    font-family: "Open Sans", sans-serif;
}
