// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
$rosa: #e21982;
$azul-oscuro: #22193f;
$gris: #e8e8e8;
body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.hero {
    height: calc(100vh - 60px);
    background: url(images/banner-principal.jpg) no-repeat center center;
    background-size: cover;
}

.btn-rosa {
    color: white;
    background-color: #e21982;
}
h2 {
    color: $rosa;
}

.conocenos {
    background: $gris;
    p {
        width: 50%;
    }
    p,
    h2 {
        color: $azul-oscuro;
    }
}
@media (max-width: 769px) {
    .conocenos p {
        width: auto;
    }
}

.funcionamiento {
    .tarjeta {
        width: 300px;
    }
}

.sumate {
    background: $rosa;
    color: white;
    div {
    }
}

.preguntas {
    background: $gris;
    h2 {
        color: $azul-oscuro;
    }
    h3 {
        color: $rosa;
    }
}

.second-banner {
    background: url(images/banner-secundario.jpg) no-repeat center center;
    background-size: cover;
    height: 45vh;
    h2 {
        color: white;
    }
    .btn {
        background-color: $rosa;
        color: white;
        width: fit-content;
    }
}

footer {
    background-color: $azul-oscuro;
    color: white;
    height: 20vh;
    box {
    }
}
